#notpage{
    @include Flex($j_content:center,$a_items:center,$f_direction:column);
    padding-top: 50px;
    padding-bottom: 100px;
    .title-page{
        h1{ 
            @include Text($colrs:inherit,$f_size:230px,$f_weight:$weight_400);
            @media (max-width:768px) { font-size: 100px; }
         }
    }
    .pages-content{
        @include Text($colrs:inherit,$t_align:center);
        h2{ @include Text($f_size:$size_page,$f_weight:$weight_400); }
        p{
            @include Text($f_size:$size_p,$f_weight:$weight_600);
            margin-top: 20px;
        }
    }
    .link-home{
        margin-top: 20px;
        a{
            @extend %_notbutton;
            &:hover{
                color: $body_clr;
                filter: drop-shadow(5px 5px 30px #f95420);
            }
        }
    }
}