#notpage{
    @include Flex($j_content:center,$a_items:center,$f_direction:column);
    padding-top: 50px;
    padding-bottom: 100px;
    .title-page{
        h1{ 
            @include Text($colrs:inherit,$f_size:$size_rem,$f_weight:$weight_400);
            @media (max-width:768px) { font-size: 200px; }
         }
    }
    .pages-content{
        @include Text($colrs:inherit,$t_align:center);
        h2{ @include Text($f_size:$size_page,$f_weight:$weight_400); }
        p{
            @include Text($f_size:$size_p,$f_weight:$weight_600);
            margin-top: 20px;
        }
    }
    .link-home{
        margin-top: 20px;
        a{
            padding: 15px 40px;
            display: block;
            @include Text($t_decoration:none,$colrs:$f2_clr,$ground:$gradient_clr,$t_transform:uppercase,$radius:$radius_15);
        }
    }
}