#heading{
    background: $heading_clr;
    margin-top: 70px;
    @include Img($wid:100%,$heit:200px);
    @include Flex($j_content:center,$f_direction:column,$a_items:center);
    .title{
        @include Text($t_transform:uppercase,$colrs:$body_clr,$t_align:center);
        h2{ @include Text($f_weight:$weight_600,$f_size:$size_40); }
        .link{
            margin-top: 20px;
            a{
            @include Text($colrs:$body_clr,$f_size:$size_17,$t_decoration:none);
            transition: all 0.3s ease-in-out;
            &:hover{ color: $de_clr; }
            }
        }
    }
}