#blog{
    padding-top: 50px;
    .blog-cart{
        &:hover{
            .img{
                .title{
                    @include Img($heit:50%,$opacity:1);
                    visibility: visible;
                }
            }
        }
        .img{
            @include Img($wid:100%,$heit:420px,$pos:relative,$flow:hidden);
            @media (max-width:768px) {  height: 300px; }
            img{ @include Img($wid:100%,$heit:100%,$o_fit:cover); }
            .title{
                @include Img($pos:absolute,$botom:-1px,$heit:20%,);
                background: rgba(90, 90, 90, 0.5);
                backdrop-filter: blur(5px);
                padding: 30px;
                transition: all 0.4s linear;
                h3{
                    font-family: 'Michroma', sans-serif;
                    @include Text($f_size:$size_20,$f_weight:$weight_600);
                    &:hover{
                        a{
                            color: $de_clr;
                            border-bottom: 2px solid $f2_clr;
                        }
                    }
                    a{
                        @include Text($t_decoration:none,$colrs:$f2_clr);
                        transition: all 0.4s ease-in-out;
                        border-bottom: none;
                    }
                }
                p{
                    margin-top: 25px;
                    @include Text($f_size:$size_20,$colrs:$e9_clr);
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                }
                .read{
                    @include Text($t_decoration:none,$colrs:$f2_clr, $f_size:$size_16);
                    transition: all 0.4s ease-in-out;
                    border-bottom: none;
                    float: right;
                    &:hover{ color: $de_clr; }
                }
            }
        }
    }
}