@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Michroma&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}
*::-moz-selection {
  background-color: #e99f4c;
}
*::selection {
  background-color: #e99f4c;
}

.body {
  background-color: #264143;
  color: #f2ebe9;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.scroll-button {
  font-size: 18px;
  width: 45px;
  color: #e99f4c;
  height: 45px;
  border: 2px solid #e99f4c;
  position: fixed;
  border-radius: 50%;
  bottom: 25px;
  right: 25px;
  background: inherit;
  animation: transfom 3s infinite;
  transition: all 3s linear;
}

@keyframes transfom {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}
#footer .footer-first .container .logo a, #header .all-content .logo a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  font-family: "Michroma", sans-serif;
}
#footer .footer-first .container .logo a span, #header .all-content .logo a span {
  background: linear-gradient(124deg, #f95a85, #f70361, #f95420);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#footer .footer-first .container .footer-list li .site-link, #footer .footer-first .container .footer-list li .media-link {
  font-family: "Jost", sans-serif;
  text-decoration: none;
  color: #f2ebe9;
  font-size: 15px;
  line-height: 2;
  transition: all 0.3s ease;
}
#footer .footer-first .container .footer-list li .site-link:hover, #footer .footer-first .container .footer-list li .media-link:hover {
  color: #de5499;
}

#header {
  font-family: "Michroma", sans-serif;
}
#header .all-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  #header .all-content .menu {
    display: none;
  }
}
#header .all-content .menu .list {
  display: flex;
  gap: 20px;
}
#header .all-content .menu .list li a {
  text-decoration: none;
  font-size: 17px;
  transition: all 0.3s ease-in-out;
}
#header .all-content .menu .list li a:hover {
  color: #de5499;
}
#header .all-content .menu .list li .active {
  color: #de5499;
}
#header .all-content .menu .list li .nonactive {
  color: inherit;
}
#header .all-content .other {
  display: flex;
  align-items: center;
  gap: 20px;
}
#header .all-content .other .user a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  position: relative;
}
#header .all-content .other .user a span {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -7px;
  font-size: 14px;
  text-align: center;
  background: #de5499;
  line-height: 20px;
  border-radius: 50px;
}

#footer .footer-first {
  color: #f2ebe9;
  background: #172729;
  padding: 40px 0px;
}
#footer .footer-first .container {
  max-width: 1140px;
}
#footer .footer-first .container .footer-list {
  margin-top: 20px;
}
#footer .footer-first .container .footer-list li {
  padding-top: 3px;
}
#footer .footer-first .container .footer-list li .media {
  font-family: "Jost", sans-serif;
  font-size: 15px;
  line-height: 2;
}
#footer .footer-first .container .footer-list li .site-link {
  font-size: 16px;
  font-weight: 500;
}
#footer .footer-first .container .site-map {
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 0.7px;
  font-family: "Michroma", sans-serif;
}/*# sourceMappingURL=style.css.map */