@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Michroma&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}
*::-moz-selection {
  background-color: #e99f4c;
  color: #264143;
}
*::selection {
  background-color: #e99f4c;
  color: #264143;
}

.dark {
  background-color: #264143;
  color: #f2ebe9;
  font-size: 15px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  transition: all 1s linear;
}

.light {
  background-color: #f2ebe9;
  color: #264143;
  font-size: 15px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  transition: all 1s linear;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.scroll-button {
  font-size: 20px;
  width: 50px;
  color: #e99f4c;
  height: 50px;
  border: 3px solid #e99f4c;
  position: fixed;
  border-radius: 50%;
  bottom: 25px;
  right: 25px;
  background: inherit;
  animation: transfom 3s infinite;
  transition: all 0.2s linear;
}
.scroll-button:hover {
  background: #e99f4c;
  color: #264143;
}

@keyframes transfom {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}
#footer .footer-first .container .logo a, #header .all-content .logo a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  font-family: "Michroma", sans-serif;
}
#footer .footer-first .container .logo a span, #header .all-content .logo a span {
  background: linear-gradient(124deg, #f95a85, #f70361, #f95420);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#footer .footer-first .container .footer-list li .site-link, #footer .footer-first .container .footer-list li .media-link {
  font-family: "Jost", sans-serif;
  text-decoration: none;
  color: #f2ebe9;
  font-size: 15px;
  line-height: 2;
  transition: all 0.3s ease;
}
#footer .footer-first .container .footer-list li .site-link:hover, #footer .footer-first .container .footer-list li .media-link:hover {
  color: #de5499;
}

#footer .footer-first .container .submit button {
  color: inherit;
  background: #de5499;
  border: 1px solid #eddcd9;
  border-radius: 0 10px 10px 0;
  padding: 9px 9px;
  transition: 0.5s ease-in-out;
}
#footer .footer-first .container .submit button:hover {
  background: #8c3560;
}

#header {
  padding-top: 30px;
  font-family: "Michroma", sans-serif;
  position: relative;
}
#header .all-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 540px) {
  #header .all-content {
    justify-content: space-around;
  }
}
@media (max-width: 1024px) {
  #header .all-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
#header .all-content .logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (max-width: 540px) {
  #header .all-content .logo a {
    font-size: 25px;
  }
}
@media (max-width: 1200px) {
  #header .all-content .menu {
    display: none;
  }
}
#header .all-content .menu .list {
  display: flex;
  gap: 20px;
}
#header .all-content .menu .list li {
  position: relative;
}
#header .all-content .menu .list li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  padding: 10px 0 10px 20px;
}
#header .all-content .menu .list li a {
  text-decoration: none;
  font-size: 17px;
  transition: all 0.3s ease-in-out;
}
#header .all-content .menu .list li a:hover {
  color: #de5499;
}
#header .all-content .menu .list li a svg {
  font-size: 23px;
}
#header .all-content .menu .list li .dropdown {
  color: #264143;
  background: #fff;
  border: 1px solid #ececec;
  border-radius: 10px;
  width: 200px;
  position: absolute;
  z-index: 9999;
  left: 0;
  opacity: 0;
  padding: 0;
  transform: translateY(15px);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
#header .all-content .menu .list li .dropdown li a {
  display: block;
  padding: 5px 0;
  font-size: 15px;
  line-height: 25px;
}
#header .all-content .other {
  display: flex;
  align-items: center;
  gap: 20px;
}
#header .all-content .other .item a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  position: relative;
}
#header .all-content .other .item a span {
  width: 25px;
  height: 25px;
  position: absolute;
  top: -14px;
  font-size: 14px;
  text-align: center;
  background: #de5499;
  line-height: 26px;
  border-radius: 50px;
}
#header .all-content .other .item button {
  color: inherit;
  font-size: 20px;
  background: #de5499;
  line-height: 1px;
  border-radius: 50px;
  width: 40px;
  height: 40px;
}
@media (max-width: 540px) {
  #header .all-content .other .user {
    display: none;
  }
}

.active {
  color: #de5499;
}

.nonactive {
  color: inherit;
}

.deactive {
  color: #264143;
}

#all {
  display: none;
}
@media (max-width: 1024px) {
  #all {
    display: block;
  }
}
#all .mobile-menu {
  width: 100%;
  position: absolute;
  top: 100%;
  z-index: 999;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transform-origin: 0 0;
  transform: scaleY(0) translateY(0);
  transition: all 0.5s ease;
}
#all .mobile-menu .mobile-list li {
  width: 100%;
  display: block;
}
#all .mobile-menu .mobile-list li a {
  text-decoration: none;
  font-size: 15px;
  border-bottom: 1px solid #dfdcdc;
  padding: 12px 20px;
  position: relative;
  transition: 0.3s ease-in-out;
  padding-right: 21px;
  display: block;
}
#all .mobile-menu .mobile-list li a:hover {
  color: #de5499;
}
#all .responsive {
  visibility: visible;
  transform: scaleY(1) translateY(0);
  width: 100%;
  position: absolute;
  top: 100%;
  z-index: 999;
  left: 0;
  right: 0;
  opacity: 1;
  background-color: #fff;
  transform-origin: 0 0;
  transition: all 0.5s ease;
}
#all .responsive .mobile-list li {
  width: 100%;
  display: block;
}
#all .responsive .mobile-list li a {
  text-decoration: none;
  font-size: 15px;
  border-bottom: 1px solid #dfdcdc;
  padding: 12px 20px;
  position: relative;
  transition: 0.3s ease-in-out;
  padding-right: 21px;
  display: block;
}
#all .responsive .mobile-list li a:hover {
  color: #de5499;
}

#swiper-head {
  padding-top: 50px;
}
#swiper-head .swiper-content {
  border-radius: 30px;
  overflow: hidden;
}
#swiper-head .swiper-content .swiper {
  width: 100%;
  height: 590px;
}
#swiper-head .swiper-content .swiper:hover .swiper-button-prev {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
#swiper-head .swiper-content .swiper:hover .swiper-button-next {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
@media (max-width: 768px) {
  #swiper-head .swiper-content .swiper {
    height: 300px;
  }
}
@media (max-width: 512px) {
  #swiper-head .swiper-content .swiper {
    height: 240px;
  }
}
#swiper-head .swiper-content .swiper .swiper-slide a {
  cursor: grab;
}
#swiper-head .swiper-content .swiper .swiper-slide a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
#swiper-head .swiper-content .swiper .swiper-button-prev {
  width: auto;
  transition: all 0.5s ease;
  transform: translateX(10px);
  opacity: 0;
  visibility: hidden;
}
#swiper-head .swiper-content .swiper .swiper-button-prev:hover::after {
  color: #f2ebe9;
  background: #264143;
  border: none;
}
#swiper-head .swiper-content .swiper .swiper-button-prev::after {
  color: #000;
  font-size: 20px;
  background: transparent;
  border: 3px solid #000;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#swiper-head .swiper-content .swiper .swiper-button-next {
  width: auto;
  transition: all 0.5s ease;
  transform: translateX(-10px);
  opacity: 0;
  visibility: hidden;
}
#swiper-head .swiper-content .swiper .swiper-button-next:hover::after {
  color: #f2ebe9;
  background: #264143;
  border: none;
}
#swiper-head .swiper-content .swiper .swiper-button-next::after {
  color: #000;
  font-size: 20px;
  background: transparent;
  border: 3px solid #000;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#swiper-head .swiper-content .swiper .swiper-button-disabled {
  opacity: 1;
}

#swipersecond {
  padding-top: 50px;
}
#swipersecond .swiper {
  width: 100%;
  height: 100%;
}
#swipersecond .swiper .swiper-slide {
  background: inherit;
}
#swipersecond .swiper .swiper-slide a {
  cursor: grab;
}
#swipersecond .swiper .swiper-slide a img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#percent {
  padding-top: 70px;
}
#percent .percent-img {
  width: 100%;
  position: relative;
}
#percent .percent-img::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background: rgba(178, 37, 45, 0.25);
  transform: scaleY(1);
  transform-origin: 50%;
  transition-property: transform;
  transition-duration: 0.9s;
  transition-timing-function: ease-out;
  cursor: pointer;
}
#percent .percent-img:hover::before {
  opacity: 1;
  transform: scaleY(0);
}
#percent .percent-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#collapse {
  padding-top: 70px;
}
#collapse .img-collapse {
  width: 100%;
  height: auto;
  transition: all 0.3s ease;
}
#collapse .img-collapse:hover {
  transform: translateY(-10px);
}
#collapse .img-collapse a {
  text-decoration: none;
  color: inherit;
  text-align: center;
}
#collapse .img-collapse a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
#collapse .img-collapse a .text-collapse {
  margin-top: 12px;
}
#collapse .img-collapse a .text-collapse h4 {
  font-size: 16px;
  font-weight: 700;
}

#aboutus {
  padding-top: 50px;
}
#aboutus .container {
  max-width: 1140px;
}
#aboutus .container .content {
  text-align: end;
  padding: 50px 10px 50px 40px;
  font-family: "Jost", sans-serif;
}
#aboutus .container .content h3 {
  padding-bottom: 10px;
  font-size: 26px;
  font-weight: 500;
}
#aboutus .container .content p {
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 1.6;
}
#aboutus .container .adress {
  text-align: start;
}
#aboutus .container .img {
  width: 100%;
}
#aboutus .container .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#heading {
  background: url("https://demo.templatetrend.com/magento/MAG666/pub/static/version1560839252/frontend/Ortho/euforia/en_US/images/bradcome.jpg");
  margin: 50px 0;
  background-size: inherit;
  background-position: inherit;
  width: 100%;
  height: 335px;
}

#footer .footer-first {
  color: #f2ebe9;
  background: #172729;
  padding: 40px 0px;
}
#footer .footer-first .container {
  max-width: 1140px;
}
#footer .footer-first .container .footer-list {
  margin-top: 20px;
}
#footer .footer-first .container .footer-list li {
  padding-top: 3px;
}
#footer .footer-first .container .footer-list li .media {
  font-family: "Jost", sans-serif;
  font-size: 15px;
  line-height: 2;
}
#footer .footer-first .container .footer-list li .site-link {
  font-size: 16px;
  font-weight: 500;
}
#footer .footer-first .container .site-map {
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 0.7px;
  font-family: "Michroma", sans-serif;
}
#footer .footer-first .container .submit {
  margin-top: 20px;
}
#footer .footer-first .container .submit input {
  color: inherit;
  background: inherit;
  border: 1px solid #eddcd9;
  border-radius: 10px 0 0 10px;
  padding: 9px 20px;
}
#footer .footer-first .container .submit input::-moz-placeholder {
  color: inherit;
}
#footer .footer-first .container .submit input::placeholder {
  color: inherit;
}
@media (max-width: 768px) {
  #footer .footer-first .container .submit input {
    padding: 9px 6px;
  }
}
#footer .footer-first .container .opening-time {
  margin-top: 20px;
}
#footer .footer-first .container .visa-cart {
  margin-top: 10px;
  font-size: 25px;
}
#footer .footer-second {
  padding: 10px 0;
}
#footer .footer-second .container {
  max-width: 1140px;
}
#footer .footer-second .container .row-second {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .footer-second .container .row-second p {
  font-family: "Jost", sans-serif;
  font-size: 15px;
  line-height: 2;
}
#footer .footer-second .container .row-second .sosial {
  display: flex;
  gap: 20px;
}
#footer .footer-second .container .row-second .sosial li a {
  color: inherit;
  font-size: 15px;
  text-align: center;
  background: inherit;
  border: 1px solid #de5499;
  line-height: 39px;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: block;
  transition: all 0.5s ease-in-out;
}
#footer .footer-second .container .row-second .sosial li a:hover {
  color: #264143;
  background: #de5499;
  transform: rotate(360deg) scale(1.1);
}/*# sourceMappingURL=style.css.map */