#percent{
    .percent-img{
        @include Img($wid:100%,$pos:relative);
        &::before{
            content: "";
            @include Img($pos:absolute,$z_index:0,$opacity:0,$top:0,$botom:0,$left:0,$right:0);
            background: rgba(178, 37, 45, 0.25);
            transform: scaleY(1);
            transform-origin: 50%;
            transition-property: transform;
            transition-duration: .9s;
            transition-timing-function: ease-out;
            cursor: pointer;
        }
        &:hover{
            &::before{
                opacity: 1;
                transform: scaleY(0);
            }
        }
        img{ @include Img($wid:100%,$heit:100%,$o_fit:cover); }
    }
    // .blue{
    //     background-color: #63cac9;
    //     min-height: 360px;
    // }
    // .orange{
    //     background: #febd97;
    //     min-height: 360px;
    // }
    // .pink{
    //     background: #ffa5c1;
    //     min-height: 720px;
    // }
}
#collapse{
    padding-top: 70px;
    .img-collapse{
        @include Img($wid:100%,$heit:auto);
        transition: all .3s ease;
        &:hover{
            transform: translateY(-10px);
        }
        a{
            @include Text($t_decoration:none,$t_align:center,$colrs:inherit);
            img{ @include Img($wid:100%,$heit:100%,$o_fit:contain,$o_pos:center); }
            .text-collapse{
                margin-top: 12px;
                h4{ @include Text($f_size:$size_16,$f_weight:$weight_700); }
            }
        }
    }
}