#header{
    padding-top: 30px;
    font-family: 'Michroma', sans-serif;
    .all-content{
        @include Flex($a_items:center,$j_content:space-between);
        @media (max-width:540px) { justify-content: space-around; }
        .logo{
            a{ 
                @extend %_logo;
                @media (max-width:540px) { font-size: 25px; }
             }
        }
        .menu{
            @media (max-width:1200px) { display: none; }
            .list{
                @include Flex($gap:20px);
                li{
                    position: relative;
                    &:hover{
                        .dropdown{
                            opacity: 1;
                            visibility: visible;
                            transform: translateY(15px);
                        }
                    }
                    a{
                        @include Text($t_decoration:none,$f_size:$size_17);
                        transition: all 0.3s ease-in-out;
                        &:hover{ color: $de_clr; }
                        svg{ font-size: $size_23; }
                    }
                    .active{ color: $de_clr; }
                    .nonactive{ color: inherit; }
                    .dropdown{
                        @include Text($ground:$white_clr,$colrs:$body_clr,$border:1px solid $ec_clr);
                        @include Img($pos:absolute,$left:0,$opacity:0,$wid:200px);
                        padding: 10px 0 10px 20px;
                        transform: translateY(30px);
                        visibility: hidden;
                        transition: all 0.3s linear;
                        li{
                            a{
                                display: block;
                                padding: 5px 0;
                                @include Text($f_size:$size_15,$l_heit:25px);
                            }
                        }
                    }
                }
            }
        }
        .other{
            @include Flex($gap:20px,$a_items:center);
            .item{
                a{
                    font-family: 'Poppins', sans-serif;
                    @include Text($t_decoration:none,$colrs:inherit,$f_size:$size_20);
                    position: relative;
                    span{
                        @include Img($pos:absolute,$top:-7px,$wid:20px,$heit:20px);
                        @include Text($t_align:center,$f_size:$size_14,$radius:$radius_50,$l_heit:20px,$ground:$de_clr);
                    }
                }
                button{
                    @include Text($ground:$de_clr,$colrs:inherit,$radius:$radius_50,$l_heit:1px,$f_size:$size_20);
                    @include Img($wid:40px,$heit:40px);
                }
            }
            .user{
                @media (max-width:540px) { display: none; }
            }
        }
    }
}