@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    &::selection{
        background-color: #e99f4c;
    }
}
.body {
   background-color: #264143;
   color: #f2ebe9;
   font-family: 'Michroma', sans-serif;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.scroll-button {
   font-size: 18px;
   width: 45px;
   color: #e99f4c;
   height: 45px;
   border: 2px solid #e99f4c;
   position: fixed;
   border-radius: 50%;
   bottom: 25px;
   right: 25px;
   background: inherit;
   animation: transfom 3s infinite;
   transition: all 3s linear;
}
@keyframes transfom {
    0%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(5px);
    }
}