@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Michroma&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    &::selection{ 
        background-color: #e99f4c;
        color: #264143;
     }
   }
   ::root{
      ::-webkit-scrollbar{
         width: 20px;
      }
      ::-webkit-scrollbar-track{
         border-radius: 10px;
      }
      ::-webkit-scrollbar-thumb{
         background: red;
      }
   }
.dark {
   background-color: #264143;
   color: #f2ebe9;
   font-size: 15px;
   font-weight: 600;
   font-family: 'Poppins', sans-serif;
   transition: all 1s linear;
}
.light {
   background-color: #f2ebe9;
   color: #264143;
   font-size: 15px;
   font-weight: 600;
   font-family: 'Poppins', sans-serif;
   transition: all 1s linear;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.scroll-button {
   font-size: 20px;
   width: 50px;
   color: #e99f4c;
   height: 50px;
   border: 3px solid #e99f4c;
   position: fixed;
   border-radius: 50%;
   bottom: 25px;
   right: 25px;
   background: inherit;
   animation: transfom 3s infinite;
   transition: all .2s linear;
   &:hover{
    background: #e99f4c;
    color: #264143;
   }
}
@keyframes transfom {
    0%{ transform: translateY(5px); }
    50%{ transform: translateY(-5px); }
    100%{ transform: translateY(5px); }
}