$size_30:30px;
$radius_50:50px;
$weight_700:700;
$gradient_clr:linear-gradient(124deg,#f95a85,#f70361,#f95420);
$f2_clr:#f2ebe9;
$size_17:17px;
$de_clr:#de5499;
$e9_clr:#e99f4c;
$size_20:20px;
$size_14:14px;
$layout_clr:#172729;
$size_15:15px;
$size_16:16px;
$weight_500:500;
$ed_clr:#eddcd9;
$hover_clr:#8c3560;
$size_25:25px;
$body_clr:#264143;