$size_30:30px;
$radius_50:50px;
$weight_700:700;
$gradient_clr:linear-gradient(124deg,#f95a85,#f70361,#f95420);
$gradient_link:linear-gradient(124deg,#f95420,#f70361,#f95a85);
$f2_clr:#f2ebe9;
$size_17:17px;
$de_clr:#de5499;
$e9_clr:#e99f4c;
$size_20:20px;
$size_14:14px;
$layout_clr:#172729;
$size_15:15px;
$size_16:16px;
$weight_500:500;
$ed_clr:#eddcd9;
$hover_clr:#8c3560;
$size_25:25px;
$body_clr:#264143;
$radius_30:30px;
$black_clr:#000;
$size_23:23px;
$white_clr:#fff;
$ec_clr:#ececec;
$size_26:26px;
$radius_10:10px;
$size_18:18px;
$radius_15:15px;
$bottom_clr:#7f7f7f4d;
$botomprimary:rgb(159 156 156 / 24%);
$heading_clr:#9e9e9e;
$weight_600:600;
$size_40:40px;
$notpage_clr:#909090;
$size_rem:21.875rem;
$weight_400:400;
$size_page:4.75rem;
$size_p: 1.5rem;
$rgb_127:rgb(127 127 127);