.sideopen{
    @include Img($wid:50%,$heit:100vh,$pos:absolute,$top:0,$right:0,$z_index:111,$opacity:1);
    @include Text($ground:$white_clr,$colrs:$body_clr);
    @include Flex($j_content:space-between,$f_direction:column);
    transition: all 0.5s ease-in-out;
    overflow-x: hidden;
    visibility: visible;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    @media (max-width:768px) { width: 100%; }
    @media (max-width:1024px) and (min-width:768px) { width: 65%; }
    .items{
        .sidebtn{
            @include Flex($j_content:space-between,$a_items:center);   
            border-bottom: 1px solid $bottom_clr; 
            h4{  @include Text($f_size:$size_18,$f_weight:$weight_700); }
            button{ 
                @include Text($ground:none,$f_size:$size_25,$f_weight:$weight_700);
                svg{ vertical-align: top; }
             }
        }
        .cartitem{
            .flex{
                padding-top: 20px;
                @include Flex($a_items:flex-start,$j_content:space-between);
                padding-bottom: 20px;
                border-bottom: 1px solid $botomprimary; 
                .carts{
                    .img{
                        width: 80px;
                        img{ @include Img($wid:100%,$heit:100%,$o_fit:cover); }
                    }
                    .content{
                        padding-left: 20px;
                        a{
                            @include Text($f_size:$size_17,$t_decoration:none,$colrs:$body_clr);
                            transition: all 0.3s linear;
                            &:hover{ color: $de_clr; }
                        }
                        .boxing{
                            margin-top: 7px;
                            gap: 20px;
                            .title{
                                @include Text($border:1px solid $de_clr,$f_size:$size_16);
                                display: table;
                                padding: 3px 15px;
                                button{ background: none; }
                                span{ margin: 20px; }
                            }
                            .price{
                                .first-price{
                                    @include Text($colrs:gray,$f_weight:$weight_500,$f_size:$size_14);
                                }
                                .total-price{
                                    @include Text($f_size:$size_16,$f_weight:$weight_700);
                                    padding-left: 70px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .sidebarbottom{
        @include Flex($j_content:space-between,$a_items:center);
        text-transform: uppercase;
        .total{
            @include Text($f_size:$size_17,$f_weight:$weight_700);
        }
        .trash{
            @include Text($ground:$de_clr,$radius:$radius_10,$t_align:center,$l_heit:27px);
            @include Img($wid:50px,$heit:30px);
            cursor: pointer;
            transition: all 0.3s linear;
            &:hover{
                @include Text($ground:$e9_clr);
            }
        }
    }
}
.sideclose{
    @include Img($heit:0,$wid:0,$pos:absolute,$top:0,$right:0,$z_index:111,$opacity:0);
    background-color: #fff;
    transition: all 0.5s ease-in-out;
    overflow-x: hidden;
    visibility: hidden;
    .items{ display: none; }
}